<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                    {{>adminmetrics}}

                <h1 class="page-header">
                    {{adminPageTitle}}
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/admin">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-bar-chart-o"></i> {{adminPageTitle}}
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-success" {{#if noMessage}}hidden{{/if}}>{{successMsg}}</div>
                <div class="alert alert-success" {{#if noErrorMsg}}hidden{{/if}}>{{errorMsg}}</div>
            </div>
        </div>
        <!-- /.row -->
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
                        <div id="success" class="alert alert-success" {{#if noMessage}}hidden{{/if}}>
                        {{successMsg}}
                    </div>
                    <div id="danger" class="alert alert-danger" {{#if noErrorMsg}}hidden{{/if}}>
                    {{errorMsg}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel-heading">
                <ul class="nav nav-pills">
                    <li role="presentation" class="{{#if allOrders}} active {{/if}}"><a href="/admin/orders?filter=allOrders">All Orders</a></li>
                    <li role="presentation" class="{{#if pendingOrders}} active {{/if}}"><a href="/admin/orders?filter=pendingOrders">Pending Pickup</a></li>
                    <li role="presentation" class="{{#if pickedUpOrders}} active {{/if}}"><a href="/admin/orders?filter=pickedUpOrders">Complete</a></li>
                </ul>
            </div>

            </div>

            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th><h3>Date</h3></th>
                                <th><h3>Purchaser</h3></th>
                                <th><h3>Items</h3></th>
                                <th><h3>Status</h3></th>
                                <th><h3>Amount</h3></th>
                                <th><h3>Edit</h3></th>
                                <th><h3>Delete</h3></th>
                                <th><h3>View</h3></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each orders }}
                            <tr class="odd gradeX">
                                <input type='hidden' id='id' name='productId' value='{{ this._id }}'>
                                <td>{{formatDate this.created "MM/DD/YYYY"}}<br>{{timeAgo this.created}}</td>
                                <td>{{this.user.first_name}} {{this.user.last_name}} ({{this.user.email}})<br>{{this.shipping_address}}<br>{{this.shipping_city}}, {{this.shipping_state}}</td>
                                <td>
                                    <table class='table table-striped tabled-bordered'>
                                        <thead>
                                            <th>Code</th>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Info</th>
                                        </thead>
                                        <tbody>
                                            {{#each this.cart.items}}
                                            <tr>
                                                <td>{{this.item.code}}</td><td> {{this.item.name}}</td><td> {{this.item.Product_Group}}</td>
                                                <td>
                                                    {{#if this.ticket_name }}
                                                        Ticket Owner:<br>{{this.ticket_name}}<br>{{this.ticket_email}}
                                                    {{/if}}
                                                    {{#if this.size }}
                                                        Size: {{this.size}}
                                                    {{/if}}
                                                </td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </td>
                            <td class="text-left">{{this.receipt_status}}</td>
                            <td class="text-right">${{this.cart.grandTotal}}</td>
                            <td>
                            <p data-placement="top" data-toggle="tooltip" title="Update Order ">
        <button class="ui right floated btn btn-success btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"> <span class="glyphicon glyphicon-pencil"></span>
        </button>
</p>
<!-- Add Dialog -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Update Order</h4>
            </div>
            <div class="modal-body">
                <form action='/admin/update-order' method='POST'>
                <input type='hidden' name='_id' value='{{this._id}}'>
                <h3>{{this.user.first_name}} {{this.user.last_name}} {{this.cart.grandTotal}}</h3>
                <div class="form-group">
                    <label for='status'>Status</label>
                    <select class='form-control' name='status'>
                        <option value='new'>New</option>
                        <option value='partial'>Partially Picked Up</option>
                        <option value='complete'>Complete - Picked Up</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for='receiver'>Received by</label>
                    <input class='form-control' type='text' name='receiver'>
                </div>
                <div class="form-group">
                    <label for='note'>Note</label>
                    <textarea class='form-control' name='note'></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" onClick="submit();" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
            </div>
                            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</td>
<td>
                            <p data-placement="top" data-toggle="tooltip" title="Delete Document">
        <button class="ui right floated btn btn-danger btn-xs" data-title="Edit" data-toggle="modal" data-target="#delete"> <span class="glyphicon glyphicon-trash"></span>
        </button>
</p>
<!-- Add Dialog -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Update Order</h4>
            </div>
            <div class="modal-body">
                <form action='/admin/update-order' method='POST'>
                <textarea class='form-control'>{{this}}</textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" onClick="submit();" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
            </div>
                            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
                            </td>
<td>
                            <p data-placement="top" data-toggle="tooltip" title="View Document">
        <button class="ui right floated btn btn-warning btn-xs" data-title="Edit" data-toggle="modal" data-target="#view"> <span class="glyphicon glyphicon-search"></span>
        </button>
</p>
<!-- Add Dialog -->
<div class="modal fade" id="view" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">View Order Document</h4>
            </div>
            <div class="modal-body">
                <form action='/admin/update-order' method='POST'>
                <textarea rows=15 class='form-control'>{{this}}</textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" onClick="submit();" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
            </div>
                            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
                            </td>
                        </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
</div>
</div>
<!-- /.row -->
<div class="row">
<div class="col-lg-4">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Donut Chart</h3>
</div>
<div class="panel-body">
<div id="morris-donut-chart"></div>
<div class="text-right">
<a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
</div>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
</div>
<div class="panel-body">
<div class="list-group">
<a href="#" class="list-group-item">
<span class="badge">just now</span>
<i class="fa fa-fw fa-calendar"></i> Calendar updated
</a>
<a href="#" class="list-group-item">
<span class="badge">4 minutes ago</span>
<i class="fa fa-fw fa-comment"></i> Commented on a post
</a>
<a href="#" class="list-group-item">
<span class="badge">23 minutes ago</span>
<i class="fa fa-fw fa-truck"></i> Order 392 shipped
</a>
<a href="#" class="list-group-item">
<span class="badge">46 minutes ago</span>
<i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
</a>
<a href="#" class="list-group-item">
<span class="badge">1 hour ago</span>
<i class="fa fa-fw fa-user"></i> A new user has been added
</a>
<a href="#" class="list-group-item">
<span class="badge">2 hours ago</span>
<i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
</a>
<a href="#" class="list-group-item">
<span class="badge">yesterday</span>
<i class="fa fa-fw fa-globe"></i> Saved the world
</a>
<a href="#" class="list-group-item">
<span class="badge">two days ago</span>
<i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"
</a>
</div>
<div class="text-right">
<a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
</div>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
</div>
<div class="panel-body">
<div class="table-responsive">
<table class="table table-bordered table-hover table-striped">
<thead>
<tr>
<th>Order #</th>
<th>Order Date</th>
<th>Order Time</th>
<th>Amount (USD)</th>
</tr>
</thead>
<tbody>
<tr>
<td></td>
<td>10/21/2013</td>
<td>3:29 PM</td>
<td>$321.33</td>
</tr>
<tr>
<td>3325</td>
<td>10/21/2013</td>
<td>3:20 PM</td>
<td>$234.34</td>
</tr>
<tr>
<td>3324</td>
<td>10/21/2013</td>
<td>3:03 PM</td>
<td>$724.17</td>
</tr>
<tr>
<td>3323</td>
<td>10/21/2013</td>
<td>3:00 PM</td>
<td>$23.71</td>
</tr>
<tr>
<td>3322</td>
<td>10/21/2013</td>
<td>2:49 PM</td>
<td>$8345.23</td>
</tr>
<tr>
<td>3321</td>
<td>10/21/2013</td>
<td>2:23 PM</td>
<td>$245.12</td>
</tr>
<tr>
<td>3320</td>
<td>10/21/2013</td>
<td>2:15 PM</td>
<td>$5663.54</td>
</tr>
<tr>
<td>3319</td>
<td>10/21/2013</td>
<td>2:13 PM</td>
<td>$943.45</td>
</tr>
</tbody>
</table>
</div>
<div class="text-right">
<a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
</div>
</div>
</div>
</div>
</div>
<!-- /.row -->
</div>
<!-- /.container-fluid -->
</div>