<div class="row">
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-check fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        {{!--<div class="huge">{{stats.totalApprovedOrders}}</div>--}}
                        <div class="huge">10223</div>
                        
                        <div>Approved Orders</div>
                    </div>
                </div>
            </div>
            <a href="/admin/orders">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-dollar fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        {{!--<div class="huge">{{stats.totalAmountReceived}}</div>--}}
                        <div class="huge">339,010</div>
                        <div>Total Collected</div>
                    </div>
                </div>
            </div>
            <a href="/admin/orders">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-dollar fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        {{!--<div class="huge">{{stats.donationsAmount}}</div>--}}
                        <div class="huge">293.16</div>
                        <div>Average Item Sale</div>
                    </div>
                </div>
            </div>
            <a href="/admin/orders">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-arrow-exchange fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        {{!--<div class="huge">{{stats.ticketsSold}}</div>--}}
                        <div class="huge">4,300</div>
                        <div>Product Returns</div>
                    </div>
                </div>
            </div>
            <a href="/admin/tickets">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-purple">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        {{!--<div class="huge">{{stats.apparelSold}}</div>--}}
                        <div class="huge">78,933</div>
                        <div>Apparel Sold</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-brown">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-paper-plane fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{stats.banquetTickets}}</div>
                        <div>Shipments</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-primary">
            <div id="chart001">
            </div>
        </div>
        <div class="panel panel-footer">
            <p data-placement="top" data-toggle="tooltip" title="View Aggregation ">
                <button class="ui left pull-left floated btn btn-warning btn-lg" data-title="view" data-toggle="modal" data-target="#view-chart-agg"> <span class="glyphicon glyphicon-eye-open"></span> View Aggregation Command
                </button>
                <span data-placement="top" data-toggle="tooltip" title="View Chart Data ">
                <button class="ui right pull-right floated btn btn-warning btn-lg" data-title="view" data-toggle="modal" data-target="#view-chart-data"> <span class="glyphicon glyphicon-eye-open"></span>                View Aggregation Data</span>
                </button>
            </p>
            <!-- Add Dialog -->
            <div class="modal fade" id="view-chart-agg" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            <h4 class="modal-title custom_align" id="Heading">View Product</h4>
                        </div>
                        <div class="modal-body">
                            <pre><code class="prettyPrint">
db.events.aggregate([
    { "$group": {
        "_id": {
            "year": {"$year": "$when" },
            "month": {"$month": "$when" }
            },
          "count": { "$sum": 1 }
        }
    }
])
                    </code></pre>
                        </div>
                        <!-- /.modal-content -->
                        <div class="modal-footer">
                            <button type="button" onClick="submit();" data-dismiss="modal" class="btn btn-warning btn-xs" style="width: 100%;"><span class="glyphicon glyphicon-remove"></span>Close</button>
</div>
</div>
<!-- /.modal-dialog -->
</div>
</div>

</p>
<!-- Add Dialog -->
<div class="modal fade" id="view-chart-data" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">View Product</h4>
            </div>
            <div class="modal-body">
                <pre><code class="prettyPrint">
[ { x: '2016-8', purchases: 69 } ]
[ { x: '2016-8', purchases: 69 },
  { x: '2015-12', purchases: 10 } ]
[ { x: '2016-8', purchases: 69 },
  { x: '2015-12', purchases: 10 },
  { x: '2016-7', purchases: 60 } ]
[ { x: '2016-8', purchases: 69 },
  { x: '2015-12', purchases: 10 },
  { x: '2016-7', purchases: 60 },
  { x: '2016-3', purchases: 74 } ]
                    </code></pre>
            </div>
            <!-- /.modal-content -->
            <div class="modal-footer">
                <button type="button" onClick="submit();" data-dismiss="modal" class="btn btn-warning btn-xs" style="width: 100%;"><span class="glyphicon glyphicon-remove"></span>Close</button>
            </div>
        </div>
<!-- /.modal-dialog -->
    </div>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6">
    <div class="panel panel-primary">
        <div id="donut-chart">
        </div>
    </div>
    <div class="panel panel-footer">
        <p data-placement="top" data-toggle="tooltip" title="View Aggregation ">
            <button class="ui left pull-left floated btn btn-warning btn-lg" data-title="view" data-toggle="modal" data-target="#view-donut-agg"> <span class="glyphicon glyphicon-eye-open"></span> View Aggregation Command
                </button>
            <span data-placement="top" data-toggle="tooltip" title="View Chart Data ">
                <button class="ui right pull-right floated btn btn-warning btn-lg" data-title="view" data-toggle="modal" data-target="#view-donut-data"> <span class="glyphicon glyphicon-eye-open"></span>            View Aggregation Data</span>
            </button>
        </p>
        <div class="modal fade" id="view-donut-agg" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading">View Aggregation Data</h4>
                    </div>
                    <div class="modal-body">
                        <pre><code class="prettyPrint">

db.events.aggregate([
	{
	 	"$match": {
	 		'action': 'purchase'
	 	}
	},
	{
		"$group": { 
			"_id": "$thing.category", "value": { "$sum": 1 } 
		}
	},{
		"$project": { "_id": -1, "value": 1}
    }
])

                    </code></pre>
                    </div>      
                    <!-- /.modal-content -->
                    <div class="modal-footer">
                        <button type="button" onClick="submit();" data-dismiss="modal" class="btn btn-warning btn-xs" style="width: 100%;"><span class="glyphicon glyphicon-remove"></span>Close</button>
                    </div>
                </div>

<!-- /.modal-dialog -->
            </div>
        </div>
<!-- Add Dialog -->
<div class="modal fade" id="view-donut-data" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">View Order Document</h4>
            </div>
            <div class="modal-body">
                <pre><code class="prettyPrint">
                
[
    {
        "label":"Printer",
        "value":14
    },{
        "label":"Refrigerator",
        "value":18
    },{
        "label":"Round-up",
        "value":7
    },{
        "label":"Camera",
        "value":24
    },{
        "label":"Television",
        "value":41
    },{
        "label":"Apparel",
        "value":15
    },{
        "label":null,"value":20
    }
]
                 </code> </pre>
            </div>
            <div class="modal-footer">
                <button type="submit" onClick="submit();" class="btn btn-warning btn-lg" data-dismiss="modal" style="width: 100%;"><span class="glyphicon glyphicon-remove"></span>Close</button>
            </div>

        </div>
<!-- /.modal-content -->
    </div>
<!-- /.modal-dialog -->
</div>


</div>
</div>

</div>
<script>
                                               $(document).ready(function () {
                                                   var json = null;
                                                   $.ajax({
                                                       'async': false,
                                                       'global': false,
                                                       'url': 'http://localhost:3001/api/purchases-by-yearmo',
                                                       'dataType': "json",
                                                       'success': function (data) {
                                                           json = data;
                                                           Morris.Area({
                                                               element: 'chart001',
                                                               data: json,
                                                               xkey: 'x',
                                                               ykeys: ['purchases'],
                                                               labels: ['Purchases']
                                                           }).on('click', function (i, row) {
                                                               console.log(i, row);
                                                           });
                                                       }
                                                   });
                                                   $.ajax({
                                                       'async': false,
                                                       'global': false,
                                                       'url': 'http://localhost:3001/api/donut-chart',
                                                       'dataType': 'json',
                                                       'success': function (data) {
                                                           json = data;
                                                           Morris.Donut({
                                                               element: 'donut-chart',
                                                               data: json
                                                           });
                                                       }
                                                   })
                                               });
</script>