<div class="row">
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-check fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{stats.totalApprovedOrders}}</div>
                        <div>Approved Orders</div>
                    </div>
                </div>
            </div>
            <a href="/admin/orders">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-dollar fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{stats.totalAmountReceived}}</div>
                        <div>Total Collected</div>
                    </div>
                </div>
            </div>
            <a href="/admin/orders">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-dollar fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{stats.donationsAmount}}</div>
                        <div>in Donations</div>
                    </div>
                </div>
            </div>
            <a href="/admin/orders">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-ticket fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{stats.ticketsSold}}</div>
                        <div>Tickets Sold</div>
                    </div>
                </div>
            </div>
            <a href="/admin/tickets">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-purple">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{stats.apparelSold}}</div>
                        <div>Apparel Sold</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="panel panel-brown">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-cutlery fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{stats.banquetTickets}}</div>
                        <div>Banquet Tickets</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-primary">
            <div id="chart001">
            </div>
        </div>
        <div class="panel panel-footer">

            <button data-toggle="collapse" data-target="#query">Show Aggregation Query</button>
            <div id="query" class="collapse">
                <pre>
db.events.aggregate([
    { "$group": {
        "_id": {
            "year": {"$year": "$when" },
            "month": {"$month": "$when" }
            },
          "count": { "$sum": 1 }
        }
    }
])
                </pre>
            </div>
            <button data-toggle="collapse" data-target="#data">Show Aggregation Data</button>
            <div id="data" class="collapse">
                <pre>
[ { x: '2016-8', purchases: 69 } ]
[ { x: '2016-8', purchases: 69 },
  { x: '2015-12', purchases: 10 } ]
[ { x: '2016-8', purchases: 69 },
  { x: '2015-12', purchases: 10 },
  { x: '2016-7', purchases: 60 } ]
[ { x: '2016-8', purchases: 69 },
  { x: '2015-12', purchases: 10 },
  { x: '2016-7', purchases: 60 },
  { x: '2016-3', purchases: 74 } ]
                </pre>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6">
        <div class="panel panel-primary">
            <div id="donut-chart">
            </div>
        </div>
        <div class="panel panel-footer">

            <button data-toggle="collapse" data-target="#query2">Show Aggregation Query</button>
            <div id="query2" class="collapse">
                <pre>
db.events.aggregate([
    {
        $group: { "_id": "$action", "value": { $sum: 1 } }
    },{
        $project: { "_id": -1, "value": 1}
    }
])
                </pre>
            </div>
            <button data-toggle="collapse" data-target="#data2">Show Aggregation Data</button>
            <div id="data2" class="collapse">
                <pre>
[ { x: '2016-8', purchases: 69 } ]
[ { x: '2016-8', purchases: 69 },
  { x: '2015-12', purchases: 10 } ]
[ { x: '2016-8', purchases: 69 },
  { x: '2015-12', purchases: 10 },
  { x: '2016-7', purchases: 60 } ]
[ { x: '2016-8', purchases: 69 },
  { x: '2015-12', purchases: 10 },
  { x: '2016-7', purchases: 60 },
  { x: '2016-3', purchases: 74 } ]
                </pre>
            </div>
        </div>
    </div>
</div>
<script>
$( document ).ready(function() {
        var json = null;
        $.ajax({
            'async': false,
            'global': false,
            'url': 'http://localhost:3001/api/purchases-by-yearmo',
            'dataType': "json",
            'success': function (data) {
                json = data;
                Morris.Area({
                  element: 'chart001',
                  data: json,
                  xkey: 'x',
                  ykeys: ['purchases'],
                  labels: ['Purchases']
                }).on('click', function(i, row){
                  console.log(i, row);
                });
            }
        });
        $.ajax({
            'async': false,
            'global': false,
            'url': 'http://localhost:3001/api/donut-chart',
            'dataType': 'json',
            'success': function(data) {
                json = data;
                Morris.Donut({
                  element: 'donut-chart',
                  data: json
                });
            }
        })
    });
</script>