<div class="row">
	<p class="lead">Search Tools</p>
	<ul>
		<li><a href="/">All</a></li>
		{{#each allcats}}
		<li><a href="/category/{{this._id}}?q={{../q}}">{{this._id}} ({{this.count}})</a></li>
		{{/each}}

		{{#each allcategories}}
		<li><a href="/category/{{this._id}}?q={{../q}}">{{this.name}} ({{this.count}})</a></li>
		{{/each}}
		<li>

<p data-placement="top" data-toggle="tooltip" title="View MongoDB Document ">
    <button id="view-aggregation" class="btn btn-warning btn-xs" data-title="Aggregation" data-toggle="modal" data-target="#agg">View Aggregation <span class="glyphicon glyphicon-search"></span>
</button>
</p>
<!-- Add Dialog -->
<div class="modal fade" id="agg" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">View MongoDB Document</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <pre>db.products.aggregate([
...   {
... $match: {
...   "Product_Group": "Camera"
... }
...   },
...  {$unwind: "$Attributes"},
...  {$match: {"Attributes.Name": "Video Resolution"}},
...  {$bucketAuto: {
...       groupBy: "$Attributes.Value",
...       buckets: 6
...     }}
... ])
{
  "result": [
    {
      "_id": {
        "min": "1080l",
        "max": "1080p"
      },
      "count": 20
    },
    {
      "_id": {
        "min": "1080p",
        "max": "4k"
      },
      "count": 35
    },
    {
      "_id": {
        "min": "4k",
        "max": "8k"
      },
      "count": 30
    },
    {
      "_id": {
        "min": "8k",
        "max": "8k"
      },
      "count": 15
    }
  ],
  "ok": 1
}</pre>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"  data-dismiss="modal" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>




		</li>

	</ul>
</div>
{{#each categoryAttributes}}
<div class="row">
	<h4>{{this.name}}</h4>
	{{#each this.value}}
	{{/each}}
</div>
{{/each}}
{{> sidenav}}