<div class="row">
  <p class="lead">Search Tools</p>
  <ul>
    <li><a href="/">All</a></li>
    {{#each allcats}}
    <li><a href="/category/{{this._id}}?q={{../q}}">{{this._id}} ({{this.count}})</a></li>
  {{/each}}
  {{#each allcategories}}
    <li><a href="/category/{{this._id}}?q={{../q}}">{{this.name}} ({{this.count}})</a></li>
  {{/each}}
  <li>
  <p data-placement="top" data-toggle="tooltip" title="View MongoDB Document ">
    <button id="view-aggregation" class="btn btn-warning btn-xs" data-title="Aggregation" data-toggle="modal" data-target="#agg">View Aggregation <span class="glyphicon glyphicon-search"></span>
    </button>
  </p>
  <!-- Add Dialog -->
  </li>
  </ul>
</div>
{{#each categoryAttributes}}
<div class="row">
  <h4>{{this.name}}</h4>
</div>
{{/each}}

