<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MEANMart - An Implementation of MEANStore http://github.com/mrlynn/meanstore">
    <meta name="author" content="Michael Lynn">
    <title>MEANStore | {{title}}</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.css" rel="stylesheet">
    <link href="/stylesheets/prettyPhoto.css" rel="stylesheet">
    <link href="/stylesheets/animate.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/tourist.css" rel="stylesheet">
    <link href="/stylesheets/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->
<!--layouts: eshop.hbs-->
<!--

    Hi.  My name is Mike and you're looking behind the scenes at MEANMart... a fairly simple ecommerce platofmr
    designed with two goals in mind.  1. Provide a method for people to see how a MEAN application works, leveraging
    MongoDB.  and 2. Work as a real, live shopping cart application.

      ___           ___           ___           ___           ___           ___           ___
     /\  \         /\__\         /\  \         /\  \         /\  \         /\  \         /\  \
    |::\  \       /:/ _/_       /::\  \        \:\  \       |::\  \       /::\  \       /::\  \         ___
    |:|:\  \     /:/ /\__\     /:/\:\  \        \:\  \      |:|:\  \     /:/\:\  \     /:/\:\__\       /\__\
  __|:|\:\  \   /:/ /:/ _/_   /:/ /::\  \   _____\:\  \   __|:|\:\  \   /:/ /::\  \   /:/ /:/  /      /:/  /
 /::::|_\:\__\ /:/_/:/ /\__\ /:/_/:/\:\__\ /::::::::\__\ /::::|_\:\__\ /:/_/:/\:\__\ /:/_/:/__/___   /:/__/
 \:\~~\  \/__/ \:\/:/ /:/  / \:\/:/  \/__/ \:\~~\~~\/__/ \:\~~\  \/__/ \:\/:/  \/__/ \:\/:::::/  /  /::\  \
  \:\  \        \::/_/:/  /   \::/__/       \:\  \        \:\  \        \::/__/       \::/~~/~~~~  /:/\:\  \
   \:\  \        \:\/:/  /     \:\  \        \:\  \        \:\  \        \:\  \        \:\~~\      \/__\:\  \
    \:\__\        \::/  /       \:\__\        \:\__\        \:\__\        \:\__\        \:\__\          \:\__\
     \/__/         \/__/         \/__/         \/__/         \/__/         \/__/         \/__/           \/__/

    Want to see more behind the scenes?

    Visit the repo at http://github.com/mrlynn/meanstore

 -->

<body>
    {{>eshop/header}} {{>eshop/advertisement}}
    <section>
        <div class="container">
            {{!--{{>eshop/slider}}--}}
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
                    {{#if successMsg}}
                    <div id="success" class="alert alert-success {{#if noMessage}}hidden{{/if}}" >
                        {{successMsg}}
                    </div>
                    {{/if}}
                    {{#if errorMsg}}
                    <div id="danger" class="alert alert-danger {{#if noErrorMsg}}hidden{{/if}}">
                        {{errorMsg}}
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
                    {{#if isLoggedIn}}
                    <div id="success" class="alert alert-success" >
                        <h3>Welcome, {{user.first_name}}</h3>
                    </div>
                    {{else}}
                    <div id="info" class="alert alert-info">
                        <h3>You must first Login before you can purchase tickets or products.</h3>
                        <a href="/user/signin">CLICK HERE</a>
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    {{>eshop/left-sidebar}}
                </div>
                <div class="col-sm-9 padding-right">
                    {{>eshop/featured-items}} {{!-- {{>eshop/recommended-items}} --}} </div>
            </div>
        </div>
    </section>

    {{>eshop/footer}}

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery.scrollUp.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.prettyPhoto.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/Tourist.js/tourist.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $("a[rel^='prettyPhoto']").prettyPhoto();
        });
    </script>
</body>

</html>