<form action='/add-to-cart' method='POST'>
    <div class="form-group">
        <input type='hidden' id='id' name='productId' value='{{ ../this._id }}'>
        <input type='hidden' id='price' name='price' value='{{ ../this.price }}'>
        <input type='hidden' id='type' name='type' value='APPAREL'>
        <h3>Size</h3>
        <select class="form-control input-sm" name="option">
            {{#each this.options}}
                <option name="{{value}}">{{name}}</option>
            {{/each}}
        </select>
        <h2 class="product-price text-center">
            ${{this.price}}
        </h2>
        {{#if ../../isLoggedIn}}
            <p class="text-center">
                <input type='submit' value='Add to Cart' class="btn btn-primary add-to-cart" role="button">
            </p>
        {{else}}
            <p class="text-center">
                <a href="/user/signin" class="btn btn-primary add-to-cart" role="button">Sign in to Buy</a>
            </p>
        {{/if}}
    </div>
</form>