<div class="container">
	<div class="row">
		{{#if hasErrors }}
		<div class="alert alert-danger">
			{{# each message }}
			<p>{{this}}</p>
			{{/each}}
		</div>
		{{/if}}
		<div class="col-sm-12">
					<div class="text-center row">
						{{#if user.profile.picture}}
							<img class="img-circle" src="{{user.profile.picture}}">
						{{else}}
							<img width="150" class="img-circle" src="/images/unknown_user.png">
						{{/if}}
						<p>
						{{user.first_name}} {{user.last_name}}
						<p>
					</div>
				</div>
		<ul class="nav nav-tabs">
		  <li class="active"><a href="/user/profile">Account Details</a></li>
		  <li CLASS="info"><a href="/user/orders">Orders</a></li>
		</ul>
		{{!--<form action="/user/update-profile" method="POST">
			<div class="panel-body">
				<div class="form-group">
					<label class="col-md-6 control-label">First Name</label>
					<label class="col-md-6 control-label">Last Name</label>
					<div class="col-md-12 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input  name="first_name" placeholder="First Name" class="form-control"  value="{{user.first_name}}" type="text">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input name="last_name" placeholder="Last Name" class="form-control" value="{{user.last_name}}"  type="text">
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-12 control-label">E-Mail</label>
					<div class="col-md-12 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
							<input name="email" placeholder="E-Mail Address" class="form-control"  value="{{user.email}}" type="text">
						</div>
					</div>
				</div>
				<!-- Text input-->
				
				<div class="form-group">
					<label class="col-md-12 control-label">Phone #</label>
					<div class="col-md-12 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
							<input name="phone" placeholder="(845)555-1212" class="form-control"  value="{{user.telephone}}" type="text">
						</div>
					</div>
				</div>
				<!-- Text input-->
				
				<div class="form-group">
					<label class="col-md-12 control-label">Address</label>
					<div class="col-md-12 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
							<input name="address1" placeholder="Address1" class="form-control" value="{{user.addr1}}" type="text">
						</div>
					</div>
				</div>
				<!-- Text input-->
				
				<div class="form-group">
					<label class="col-md-12 control-label">City</label>
					<div class="col-md-12 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
							<input name="city" placeholder="city" class="form-control" value="{{user.city}}"  type="text">
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-6 control-label">State</label>
					<label class="col-md-6 control-label">Zip</label>
					<div class="col-md-12 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
							<input name="state" placeholder="State" class="form-control"  value="{{user.state}}" type="text">
							<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
							<input name="zipcode" placeholder="Zip Code" class="form-control"  value="{{user.zipcode}}" type="text">
						</div>
					</div>
				</div>
			</div>
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<button class="btn btn-default update" type="submit">Update</button>
		</form>--}}
		<form action="/user/update-profile" method="POST">
				
				<div class="col-sm-12 well">
					<div class="row ">
						<div class="col-sm-6 form-group">
							<label>First Name</label>
							<input type="text" value="{{user.first_name}}" name="first_name" placeholder="Enter First Name Here.." class="form-control">
						</div>
						<div class="col-sm-6 form-group">
							<label>Last Name</label>
							<input type="text" value="{{user.last_name}}" name="last_name" placeholder="Enter Last Name Here.." class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label>Address</label>
						<textarea value="{{user.addr1}}" placeholder="Enter Address Here.." name="addr1" rows="3" class="form-control"></textarea>
					</div>
					<div class="row">
						<div class="col-sm-4 form-group">
							<label>City</label>
							<input type="text" value="{{user.city}}" name="city" placeholder="Enter City Name Here.." class="form-control">
						</div>
						<div class="col-sm-4 form-group">
							<label>State</label>
							<input type="text" value="{{user.state}}" name="state" placeholder="Enter State Name Here.." class="form-control">
						</div>
						<div class="col-sm-4 form-group">
							<label>Zip</label>
							<input type="text" value="{{user.zipcode}}" name="zipcode" placeholder="Enter Zip Code Here.." class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label>Phone Number</label>
						<input type="text" name="telephone" value="{{user.telephone}}" placeholder="Enter Phone Number Here.." class="form-control" required>
					</div>
					<div class="form-group">
						<label>Email Address</label>
						<input type="text" value="{{user.email}}" placeholder="Enter Email Address Here.." disabled class="form-control">
					</div>
					<div class="form-group">
						<label>Website</label>
						<input type="text" name="website" value="{{user.website}}" placeholder="Enter Website Name Here.." class="form-control">
					</div>
					<div class="row">
						<div class="col-sm-6 form-group">
							<label>Home Group</label>
							<input type="text" value="{{user.home_group}}" name="home_group" placeholder="Enter Home Group Here.." class="form-control">
						</div>
					</div>				
					<input type="hidden" name="_csrf" value="{{ csrfToken }}">
					<input type="hidden" name="csrfToken" value="{{csrfToken}}">
					<div class='col-md-6'>
						<button type="submit" class="btn btn-lg btn-info">Submit</button>
					</div>
					<div class='col-md-6'>
						<a href='/user/logout-and-delete' class="btn btn-lg btn-warning">Delete User Account and Logout</a>
					</div>
				</div>
			</form>
			<p data-placement="top" data-toggle="tooltip" title="View Document ">
        <button class="ui right floated btn btn-warning btn-xs" data-title="view" data-toggle="modal" data-target="#view"> <span class="glyphicon glyphicon-eye-open"></span>
        </button>
</p>
<!-- Add Dialog -->
<div class="modal fade" id="view" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">View User Document</h4>
            </div>
            <div class="modal-body">
                <pre><code class="prettyPrint">{{JSON user}}</code></pre>
            </div>
        <!-- /.modal-content -->
        </div>
    <!-- /.modal-dialog -->
    </div>
</div>
	</div>
</div>

<p><p><p><p><p>&nbsp;<p><p><p><p><p><p>&nbsp;<p><br>
