<div class="container">
<div class="container signin-page">
<div class="row">
		<h1>Sign Up</h1>
		{{#if hasErrors }}
		<div class="alert alert-danger">
			{{# each message }}
			<p>{{this}}</p>
			{{/each}}
		</div>
		{{/if}}
		<form action="/user/signup" method="POST">
			<div class="panel-body">
				<div class="form-group">
					<label class="col-md-4 control-label">First Name</label>
					<label class="col-md-4 control-label">Last Name</label>
					<div class="col-md-8 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input  name="first_name" placeholder="First Name" class="form-control"  value="{{user.first_name}}" type="text">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input name="last_name" placeholder="Last Name" class="form-control" value="{{user.last_name}}"  type="text">
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-8 control-label">E-Mail</label>
					<div class="col-md-8 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
							<input name="email" placeholder="E-Mail Address" class="form-control"  value="{{user.email}}" type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-8 control-label">Password</label>
					<div class="col-md-8 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							<input name="password" type="password" placeholder="Password" class="form-control"  value="{{user.password}}">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							<input name="verifypassword" type="password" placeholder="Verify Password" class="form-control"  value="{{user.password}}">
						</div>
					</div>
				</div>			
				<div class="form-group">
					<label class="col-md-8 control-label">Phone #</label>
					<div class="col-md-8 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
							<input name="telephone" placeholder="(845)555-1212" class="form-control"  value="{{user.telephone}}" type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-8 control-label">Address</label>
					<div class="col-md-8 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
							<input name="addr1" placeholder="Address1" class="form-control" value="{{user.addr1}}" type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-8 control-label">City</label>
					<div class="col-md-8 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
							<input name="city" placeholder="city" class="form-control" value="{{user.city}}"  type="text">
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label">State</label>
					<label class="col-md-4 control-label">Zip</label>
					<div class="col-md-8 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
							<input name="state" placeholder="State" class="form-control"  value="{{user.state}}" type="text">
							<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
							<input name="zipcode" placeholder="Zip Code" class="form-control"  value="{{user.zipcode}}" type="text">
						</div>
					</div>
				</div>
			</div>
			<input type="hidden" name="_csrf" value="{{ csrfToken }}">
			<button class="btn btn-default" type="submit">Update</button>
		</form>
		<p class="pull-left">Need an account? <a href="/user/signup">Sign Up</a></p>
			<p class="pull-right">Forgot? <a href="/user/forgot">Reset</a></p>
</div></div>
</div>