<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li><a href="shopping-cart">Shopping Cart</a></li>
				<li class="active">Checkout</li>
			</ol>
			{{#if products}}
			<div id="charge-error" class="alert alert-danger {{#if noErrorMsg}}hidden{{/if}}">
				{{errorMsg}}
			</div>
			<div class="row">
				<div class="col-md-8 col-sm-offset-2">
					<h1>Provide Purchaser Details</h1>
					<div class="panel-body">
						<div class="table-responsive">
							<form action="/create" method="post">
								<div class="panel-body">
									<div class="form-group">
										<label class="col-md-6 control-label">First Name</label>
										<label class="col-md-6 control-label">Last Name</label>
										<div class="col-md-12 inputGroupContainer">
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
												<input  name="first_name" placeholder="First Name" class="form-control"  value="{{user.first_name}}" type="text">
												<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
												<input name="last_name" placeholder="Last Name" class="form-control" value="{{user.last_name}}"  type="text">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-12 control-label">E-Mail</label>
										<div class="col-md-12 inputGroupContainer">
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
												<input name="email" placeholder="E-Mail Address" class="form-control"  value="{{user.email}}" type="text">
											</div>
										</div>
									</div>
									<!-- Text input-->
									<div class="form-group">
										<label class="col-md-12 control-label">Phone #</label>
										<div class="col-md-12 inputGroupContainer">
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
												<input name="phone" placeholder="(845)555-1212" class="form-control"  value="{{user.telephone}}" type="text">
											</div>
										</div>
									</div>
									<!-- Text input-->
									<div class="col-md-6">
									<h3>Billing Address</h3><p>&nbsp</p>
									<div class="form-group">
										<label class="col-md-6 control-label">Address</label>
										<div class="col-md-12 inputGroupContainer">
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
												<input name="billing_addr1" placeholder="Address1" class="form-control" value="{{user.addr1}}" type="text">
											</div>
										</div>
									</div>
									<!-- Text input-->
									
									<div class="form-group">
										<label class="col-md-6 control-label">City</label>
										<div class="col-md-12 inputGroupContainer">
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
												<input name="billing_city" placeholder="city" class="form-control" value="{{user.city}}"  type="text">
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
									<!-- Text input-->
									<div class="form-group">
										<div class="col-md-6 inputGroupContainer">
											<div class="input-group">
												<label class="col-md-3 control-label">State</label>
												<input name="billing_state" placeholder="State" class="form-control"  value="{{user.state}}" type="text">
												<label class="col-md-3 control-label">Zip</label>
												<input name="billing_zip" placeholder="Zip Code" class="form-control"  value="{{user.zipcode}}" type="text">
											</div>
										</div>
									</div>
									</div>

									<div class="col-md-6">
										<h3>Shipping Address</h3>
<label><input type="checkbox" id="same_as_billing" /> Same as billing</label>
										<div class="form-group">
										<label class="col-md-6 control-label">Address</label>
										<div class="col-md-12 inputGroupContainer">
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
												<input name="shipping_addr1" placeholder="Address1" class="form-control" value="{{user.addr1}}" type="text">
											</div>
										</div>
									</div>
									<!-- Text input-->
									
									<div class="form-group">
										<label class="col-md-6 control-label">City</label>
										<div class="col-md-12 inputGroupContainer">
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
												<input name="shipping_city" placeholder="city" class="form-control" value="{{user.city}}"  type="text">
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
									<!-- Text input-->
									<div class="form-group">
										<div class="col-md-6 inputGroupContainer">
											<div class="input-group">
												<label class="col-md-3 control-label">State</label>

												
												<input name="shipping_state" placeholder="State" class="form-control"  value="{{user.state}}" type="text">
												<label class="col-md-3 control-label">Zip</label>

												
												<input name="shipping_zip" placeholder="Zip Code" class="form-control"  value="{{user.zipcode}}" type="text">
											</div>
										</div>
									</div>
									</div>
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="business" value="assistant@sepennaa.org">
									<input type="hidden" name="currency_code" value="USD">
									<input type="hidden" name="return" value="http://roundup.aasepia.org/complete">
									<input type="hidden" name="cancel_return" value="http://aasepia.org/cancel">
									<input type="hidden" name="cn" value="2017 SEPIA ROUNDUP">
									<input type="hidden" name="no_shipping" value="1">
									<input type="hidden" name="rm" value="2"> <!-- the buyer's browser is redirected to the return url using POST -->
									<!-- Text input-->
								</div>
								<table class="table table-condensed">
									<thead>
										<tr>
											<td><strong>ITEM</strong></td>
											<td><strong>QTY</STRONG></td>
											<td><strong>PRICE</strong></td>
											<td><strong>TAXABLE</strong></td>
											<td><strong>TOTAL</strong></td>
											<td>&nbsp;</td>
										</tr>
									</thead>
									<tbody>
										<input type="hidden" name="upload" value="1">
										{{# each products }}
										<input type="hidden" name="item_name_{{inc @index }}" value="{{this.item.title}}">
										<input type="hidden" name="item_number_{{inc @index }}" value="{{this.item._id}}">
										<input type="hidden" name="amount_{{inc @index }}" value="{{this.price}}">
										<input type="hidden" name="itemTotal_{{inc @index }}" value="{{this.itemTotal}}">
										<input type="hidden" name="on{{inc @index}}_1" value="Size:{{this.size}}">
										<tr>
											<td>{{this.item.title}}</td>
											<td class="text-align-right">{{this.qty}}</td>
											<td class="text-align-right" text-align="right">${{this.price}}</td>
											<td>{{this.item.taxable}}</td>
											<td class="text-align-right" text-align="right">${{this.itemTotal}}</td>
											<td>
												<div class="btn-group pull-right">
													<button class="btn btn-primary btn-xs dropdown-toggle pull-right" type="button" data-toggle="dropdown">Action <span class="caret"></span></button>
													<ul class="dropdown-menu">
														<li><a href="/reduce-qty/{{this.item._id}}">Reduce by 1</a></li>
														<li><a href="/empty-cart">Remove all {{this.item.name}}</a></li>
														<li><a href="/empty-cart">Remove All</a></li>
													</ul>
												</div>
											</td>
										</tr>
										{{/each}}
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>Total: </td>
										<td text-align="right">${{totalPrice}}</td>
										<td>&nbsp;</td>
									</tr>
								</tbody>
							</table>
							<div class="text-right">
								<input type='submit' value='Pay with Paypal >' class='btn btn-primary text-right'><br><a href='/whypaypal'>Why PayPal?</a>
							</div>
							<input type="hidden" name="amount" value="{{totalPrice}}">
							<input type="hidden" name="method" value="paypal">
						</form>
					</div>
				</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
					</div>
				</div>
				{{else}}
				<div class="row">
					<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
						<h2>No items in Cart</h2>
					</div>
				</div>
				{{/if}}
				{{>shipping}}


<script>
  $("#same_as_billing").on("change", function(){
    if (this.checked) {

      $("[name='shipping_addr1']").val($("[name='billing_addr1']").val());
      $("[name='shipping_city']").val($("[name='billing_city']").val());
      $("[name='shipping_state']").val($("[name='billing_state']").val());
      $("[name='shipping_zip']").val($("[name='billing_zip']").val());
    }
  });
</script>