<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li><a href="shopping-cart">Shopping Cart</a></li>
				<li class="active">Checkout</li>
			</ol>
			<div id="charge-error" class="alert alert-danger {{#if noErrorMsg}}hidden{{/if}}">
				{{errorMsg}}
			</div>
			<div id="charge-success" class="alert alert-success {{#if noMessage}}hidden{{/if}}">
				{{successMsg}}
			</div>
			{{#if products}}

			<div class="row">
				<div class="col-lg-12 col-md-12">
					<h1>Provide Purchaser Details</h1>
					<div class="panel-body">
						<div class="table-responsive">
							<form action="/create" method="post">
								<div class="panel-body">
									<div class="form-group">
										<label class="control-label">First Name</label>
										<label class="control-label">Last Name</label>
										<div class="inputGroupContainer">
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
												<input  name="first_name" placeholder="First Name" class="form-control"  value="{{user.first_name}}" type="text">
												<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
												<input name="last_name" placeholder="Last Name" class="form-control" value="{{user.last_name}}"  type="text">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">E-Mail</label>
										<div class="inputGroupContainer">
											<div class="input-group">
												<input name="email"  value="{{user.email}}" type="hidden">

												<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
												{{#if user.email}}
												<input disabled name="email" placeholder="E-Mail Address" class="form-control"  value="{{user.email}}" type="text">
												{{else }}
												<input name="email" placeholder="E-Mail Address" class="form-control"  value="{{user.email}}" type="text" required>
												{{/if}}
											</div>
										</div>
									</div>
									<!-- Text input-->
									<div class="form-group">
										<label class="control-label">Phone #</label>
										<div class="inputGroupContainer">
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
												{{#if user.telephone}}
												<input name="telephone" placeholder="(845) 555-1212" class="form-control"  value="{{user.telephone}}" type="text" >
												{{else}}
												<input name="telephone" placeholder="(845) 555-1212" class="form-control"  value="{{user.telephone}}" type="text" required>
												{{/if}}
											</div>
										</div>
									</div>
									{{#if ../enableShipping}}
										<div class="form-group">
											<li class="list-group-item">
												<label for='shipping_flag'>Ship Items?</label>
												<div class="material-switch pull-right">
													No <input id="shipping_flag" name="shipping_flag" {{#if shipping_flag }} checked="checked" {{/if}} type="checkbox"/>
													<label for="shipping_flag" class="label-success"></label> Yes
												</div>
											</li>
										</div>
										<div class="form-group">
											<span class="col-md-12 help-block" ng-show="shipping_name.$invalid || shipping_city.$invalid"> Shipping details are required.</span>
										<h3>Shipping Address</h3>
										<div class="form-group">
											<label class="control-label">Address</label>
											<div class="inputGroupContainer">
												<div class="input-group">
													<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
													<input ng-model="shipping_addr1" name="shipping_addr1" placeholder="Address1" class="form-control" value="{{shipping_addr1}}" type="text" required>
												</div>
											</div>
										</div>
										<!-- Text input-->
										<div class="form-group">
											<label class="control-label">City</label>
											<div class="inputGroupContainer">
												<div class="input-group">
													<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
													<input ng-model="shipping_city" name="shipping_city" placeholder="city" class="form-control" value="{{shipping_city}}"  type="text" required>
												</div>
											</div>
										</div>
										<!-- Text input-->
										<div class="form-group">
											<label class="control-label">State</label>
											<div class="inputGroupContainer">
												<div class="input-group">
													<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
													<input ng-model="shipping_state" name="shipping_state" placeholder="PA" class="form-control" value="{{shipping_state}}" type="text" required>
												</div>
											</div>
											<label class="control-label">Zip</label>
											<div class="inputGroupContainer">
												<div class="input-group">
													<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
													<input ng-model="shipping_zip" name="shipping_zip" placeholder="xxxxxx" class="form-control" value="{{shipping_zip}}" type="text" required>
												</div>
											</div>
										</div>
									{{/if}}
									</div>
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="business" value="assistant@sepennaa.org">
									<input type="hidden" name="currency_code" value="USD">
									<input type="hidden" name="return" value="http://roundup.aasepia.org/complete">
									<input type="hidden" name="cancel_return" value="http://aasepia.org/cancel">
									<input type="hidden" name="cn" value="2017 SEPIA ROUNDUP">
									<input type="hidden" name="no_shipping" value="1">
									<input type="hidden" name="rm" value="2"> <!-- the buyer's browser is redirected to the return url using POST -->
									<!-- Text input-->

								</div>
								<table class="table table-condensed">
									<thead>
										<tr>
											<td><strong>ITEM</strong></td>
											<td><strong>QTY</STRONG></td>
											<td><strong>PRICE</strong></td>
											<td><strong>TAXABLE</strong></td>
											<td><strong>TOTAL</strong></td>
											<td>&nbsp;</td>
										</tr>
									</thead>
									<tbody>
										<input type="hidden" name="upload" value="1">
										{{# each products }}
										<input type="hidden" name="item_name_{{inc @index }}" value="{{this.item.title}}">
										<input type="hidden" name="item_number_{{inc @index }}" value="{{this.item._id}}">
										<input type="hidden" name="amount_{{inc @index }}" value="{{this.price}}">
										<input type="hidden" name="itemTotal_{{inc @index }}" value="{{this.itemTotal}}">
										<input type="hidden" name="option[{{ @index}}]" value="{{this.option}}">


										<input type="hidden" name="item_name[null]" value="" />
										<input type="hidden" name="item_name[{{ @index }}]" value="{{this.item.name}}" />
										<input type="hidden" name="item_title[{{ @index }}]" value="{{this.item.title}}" />
										<input type="hidden" name="item_id[{{ @index }}]" value="{{this.item._id}}" />
										<input type="hidden" name="item_ticket_name[{{ @index }}]" value="{{this.ticket_name}}" />
										<input type="hidden" name="item_ticket_email[{{ @index }}]" value="{{this.ticket_email}}" />
										<input type="hidden" name="item_amount[{{ @index }}]" value="{{this.price}}" />
										<input type="hidden" name="item_tax_amount[{{ @index }}]" value="{{this.totalTax}}" />
										<input type="hidden" name="option_{{@index}}" value="{{this.option}}" />
										<input type="hidden" name="ticket_name_{{@index}}" value="{{this.ticket_name}}" />
										<input type="hidden" name="ticket_email_{{@index}}" value="{{this.ticket_email}}" />
										<tr>
											<td>{{this.item.title}}</td>
											<td class="text-right">{{this.qty}}</td>
											<td class="text-right" text-align="right">${{this.price}}</td>
											<td class="text-left">{{this.item.taxable}}</td>
											<td class="text-right" text-align="right">${{this.itemTotal}}</td>
											<td>
												<div class="btn-group pull-right">
													<button class="btn btn-primary btn-xs dropdown-toggle pull-right" type="button" data-toggle="dropdown">Action <span class="caret"></span></button>
													<ul class="dropdown-menu">
														<li><a href="/reduce-qty/{{this.item._id}}">Reduce by 1</a></li>
														<li><a href="/empty-cart">Remove all {{this.item.name}}</a></li>
														<li><a href="/empty-cart">Remove All</a></li>
													</ul>
												</div>
											</td>
										</tr>
										{{/each}}
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>Total: </td>
										<td class="text-right" text-align="right">${{subtotal}}</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td colspan=3>{{taxDesc}}</td>
										<td>Tax: </td>
										<td class='text-right' text-align="right">
										${{totalTax}}
										</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>Shipping: </td>
										<td class='text-right' text-align="right">${{shippingtotal}}</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>Total: </td>
										<td class='text-right' text-align="right">${{grandtotal}}</td>
										<td>&nbsp;</td>
									</tr>
								</tbody>
							</table>
							<li class="list-group-item">
							<div class="text-right">
								<input id='checkout' name='checkout' type='submit' value='Pay with Paypal >' class='btn btn-primary text-right'><br><a href='/whypaypal'>Why PayPal?</a>
								<div class="text-left">
								{{#if ../enableShipping}}
									<input id='update' name='update' type='submit' value='Update Shipping' class='btn btn-warning text-right'>
								{{/if}}
							</div>
							</div>
							<input type="hidden" name="amount" value="{{grandtotal}}">
							<input type="hidden" name="subtotal" value="{{subtotal}}">
							<input type="hidden" name="totalTax" value="{{totalTax}}">
							<input type="hidden" name="shippingtotal" value="{{shippingtotal}}">
							<input type="hidden" name="method" value="paypal">
							</li>
						</form>
					</div>
				</div>
				</div>
				
				{{else}}
				<div class="row">
					<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
						<h2>No items in Cart</h2>
					</div>
				</div>
				{{/if}}
				{{#if ../enableShipping}}
				{{>shipping}}
				{{/if}}
<script>
  $("input[name='update']").hide();
  $("input[name='shipping_flag']").click(function() {
  		$("update").data('value')='UPDATE SHIPPING INFO';
  		$("input[name='checkout']").show(300);
        if ($(this).is(':checked')) {
        	if ($("input[name='shipping_addr1]").attr('value')=='') {
        		$("input[name='checkout']").attr('disabled', true);
        		var ok = confirm('Please complete shipping information to proceed.');
        	}
            $("input[name='shipping_addr1']").attr("disabled", false);
            $("input[name='shipping_city']").attr('disabled', false);
            $("input[name='shipping_state']").attr('disabled', false);
            $("input[name='shipping_zip']").attr('disabled', false);
            $("input[name='shipping_addr1']").attr('required', true);
            $("input[name='shipping_city']").attr('required', true);
            $("input[name='shipping_state']").attr('required', true);
            $("input[name='shipping_zip']").attr('required', true);
        } else if ($(this).not(':checked')) {
        	  		$("input[name='update']").hide(200);

            var ok = confirm('Are you sure you want to remove all data?');
            if (ok) {
                var remove = '';
                $("input[name='shipping_addr1']").attr('value', remove);
                $("input[name='shipping_city']").attr('value', remove);
                $("input[name='shipping_state']").attr('value', remove);
                $("input[name='shipping_zip']").attr('value', remove);

                $("input[name='shipping_addr1']").attr('disabled', true);
                $("input[name='shipping_city']").attr('disabled', true);
                $("input[name='shipping_state']").attr('disabled', true);
                $("input[name='shipping_zip']").attr('disabled', true);
                $("input[name='shipping_addr1']").attr('required', false);
                $("input[name='shipping_city']").attr('required', false);
                $("input[name='shipping_state']").attr('required', false);
                $("input[name='shipping_zip']").attr('required', false);
            }
        }
    });
  $("#same_as_billing").on("change", function(){
    if (this.checked) {
      $("[name='shipping_name']").val($("[name='billing_name']").val());
      $("[name='shipping_addr1']").val($("[name='billing_addr1']").val());
      $("[name='shipping_city']").val($("[name='billing_city']").val());
      $("[name='shipping_state']").val($("[name='billing_state']").val());
      $("[name='shipping_zip']").val($("[name='billing_zip']").val());
    } else {
      $("[name='shipping_name']").val($("").val());
      $("[name='shipping_addr1']").val($("").val());
      $("[name='shipping_city']").val($("").val());
      $("[name='shipping_state']").val($("").val());
      $("[name='shipping_zip']").val($("").val());
    }

  });
</script>

