<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="carousel">
            {{> carousel}}
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
                    <div id="success" class="alert alert-success" {{#if noMessage}}hidden{{/if}}>
                        {{successMsg}}
                    </div>
                    <div id="danger" class="alert alert-danger" {{#if noErrorMsg}}hidden{{/if}}>
                        {{errorMsg}}
                    </div>
                </div>
            </div>
            {{>search}}
            <div class="row">
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th><h2>Product</h2></th>
                                    <th><h2>Category</h2></th>
                                    <th><h2>Price</h2></th>
                                    <th><h2>Action</h2></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{# each products }}
                                <tr class="odd gradeX">
                                    <form action="add-to-cart" method="POST">
                                    <input type='hidden' id='id' name='productId' value='{{ this._id }}'>
                                    <td><h3>{{this.name}}</h3>{{this.title}}</td>
                                    <td><h4>{{this.category}}</h4></td>
                                    <td class="text-right"><h4>${{this.price}}</h4></td>
                                    <td class="center">
                                        {{#if ../isLoggedIn}}
                                        <p class="text-center">
                                            <a href="/add-to-cart/{{this._id}}" class="btn btn-primary add-to-cart" data-id="{{this._id}}" role="button">Add to cart</a>
                                        </p>
                                        {{else}}
                                        <p class="text-center">
                                            <a href="/user/signin" class="btn btn-primary add-to-cart" role="button">Sign in to Buy</a>
                                        </p>
                                        {{/if}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>