<!-- shop/product.hbs -->
<div class="product-information col-md-9 col-md-offset-2">
    <div class="col-md-5">
        <div class="thumbnail">
            {{!--<div class="vertical-center thumbnail-image-container top-pad-20 col-xs-6 col-md-3">--}}
                <img src="{{product.imagePath}}" class="thumbnail-image img-responsive">
            {{!--</div>--}}
        </div>
    </div>
    <div class="col-md-7">
        <div class="product-information">
            <div class="caption-full">
                <h4 class="pull-right">${{money product.price}}</h4>
                <h4><a href="#">{{product.name}}</a></h4>
                <p>{{product.title}}</p>
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#description"
                        aria-controls="description"
                        role="tab"
                        data-toggle="tab"
                    >Description</a>
                </li>
                <li role="presentation">
                    <a href="#features"
                        aria-controls="features"
                        role="tab"
                        data-toggle="tab"
                    >Features</a>
                </li>
                <li role="presentation">
                    <a href="#reviews"
                        aria-controls="reviews"
                        role="tab"
                        data-toggle="tab"
                    >Reviews</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="description">
                    <div class="product-tab-area">
                        <div class='description'>
                            {{product.description}}
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane top-10" id="features">
                    <div class="product-tab-area">

                        <div class="features">
                            {{#each product.Attributes}}
                            <li>{{this.Name}}: {{this.Value}}</li>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="reviews">
                    <div class="blog-comment">
                        <h3 class="text-success">Reviews</h3>
                        <hr/>
                        <ul class="comments">
                            
                    
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p>
            <div class="row">
                <form action='/add-to-cart' method='POST'>
                    <input type='hidden' id='id' name='productId' value='{{ product._id }}'>
                    <input type='hidden' id='type' name='type' value='{{product.Product_Group}}'>
                    <p class="text-center">
                        <input type='submit' value='Add to Cart' class="btn btn-success add-to-cart" role="button">
                    </p>
                </form>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="productrecommendations">
        <div class="col-md-3">
            <div class="panel-heading">
                <h3>Also Viewed</h3>
            </div>
            <div class="panel-body">
                {{#each recommendations.viewed}}
                <div class='small-thumbnail'>
                    <a href='/product/{{this._id}}'><img src="{{this.image}}">
                    {{this.title}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel-heading">
                <h3>Trending </h3>
            </div>
            <div class="panel-body">
                {{#each recommendations.trending}}
                <div class='small-thumbnail'>
                    <a href='/product/{{this._id}}'><img src="{{this.image}}">
                    {{this.title}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel-heading">
                <h3>Most Popular Viewed</h3>
            </div>
            <div class="panel-body">
                {{#each recommendations.popular}}
                <div class='small-thumbnail'>
                    <a href='/product/{{this._id}}'><img src="{{this.image}}">
                    {{this.title}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel-heading">
                <h3>Similar Products</h3>
            </div>
            <div class="panel-body">
                {{#each recommendations.similar}}
                <div class='small-thumbnail'>
                    <a href='/product/{{this._id}}'><img src="{{this.image}}">
                    {{this.title}}</a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="product_id" value="{{product._id}}">

