<!-- shop/product.hbs -->
<div class="product-information col-md-9 col-md-offset-2">
    {{#each product}}

    <div class="col-md-5">
        <div class="thumbnail">
            {{!--
            <div class="vertical-center thumbnail-image-container top-pad-20 col-xs-6 col-md-3">--}}
                <img src="{{this.imagePath}}" class="thumbnail-image img-responsive"> {{!--
            </div>--}}
        </div>
    </div>
    <div class="col-md-7">
        <div class="product-information">
            <div class="caption-full">
                <h4 class="pull-right">${{money this.price}}</h4>
                <h4><a href="#">{{this.name}}</a></h4>
                <p>{{this.title}}</p>
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a>
                </li>
                <li role="presentation">
                    <a href="#features" aria-controls="features" role="tab" data-toggle="tab">Features</a>
                </li>
                <li role="presentation">
                    <a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="description">
                    <div class="product-tab-area">
                        <div class='description'>
                            {{this.description}}
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane top-10" id="features">
                    <div class="product-tab-area">

                        <div class="features">
                            {{#each this.Attributes}}
                            <li>{{this.Name}}: {{this.Value}}</li>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="reviews">
                    <div class="blog-comment">
                        <h3 class="text-success">Reviews</h3>
                        <hr/>
                        <ul class="comments">


                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p>
            <div class="row">
                <form action='/add-to-cart' method='POST'>
                    <input type='hidden' id='id' name='productId' value='{{ product._id }}'>
                    <input type='hidden' id='type' name='type' value='{{product.Product_Group}}'>
                    <p class="text-center">
                        <input type='submit' value='Add to Cart' class="btn btn-success add-to-cart" role="button">
                    </p>
                </form>
            </div>
    </div>
</div>
{{/each}}
<br><br><br>
<div class="productrecommendations">
    <div class="col-md-3">
        <div class="panel-heading">
            <h3>Also Viewed</h3>
        </div>
        <div class="panel-body">
            {{#each recommendations.viewed.results}}
            <div class='small-thumbnail'>
                <a href='/product/{{this._id}}'><img src="{{this.image}}"> {{this.title}}
                </a>
            </div>
            {{/each}}
        </div>
        <p data-placement="top" data-toggle="tooltip" title="View Popularity Query ">
            <button class="btn btn-warning btn-lg" data-title="Add" data-toggle="modal" data-target="#viewed">View Also Viewed Query <span class="glyphicon glyphicon-eye-open"></span>
</button>
        </p>
        <!-- Add Dialog -->
        <div class="modal fade" id="viewed" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading">View MongoDB Query</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                             <div class="container">
                                <ul class="nav nav-tabs">
                                    <li class="nav active"><a href="#viewed-a" data-toggle="tab">Query</a></li>
                                    <li class="nav"><a href="#viewed-b" data-toggle="tab">Results</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="viewed-a">
                                        <div class="form-group">
                                            <pre>{{JSON recommendations.viewed.query}}</pre>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="viewed-b">
                                        <pre>{{JSON recommendations.viewed.results}}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel-heading">
            <h3>Trending </h3>
        </div>
        <div class="panel-body">
            {{#each recommendations.trending.results}}
            <div class='small-thumbnail'>
                <a href='/product/{{this._id}}'><img src="{{this.image}}"> {{this.title}}
                </a>
            </div>
            {{/each}}
        </div>
        <p data-placement="top" data-toggle="tooltip" title="View Popularity Query ">
            <button class="btn btn-warning btn-lg" data-title="Add" data-toggle="modal" data-target="#trending">View Trending Query <span class="glyphicon glyphicon-eye-open"></span>
</button>
        </p>
        <!-- Add Dialog -->
        <div class="modal fade" id="trending" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading">View MongoDB Query</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                             <div class="container">
                                <ul class="nav nav-tabs">
                                    <li class="nav active"><a href="#trending-a" data-toggle="tab">Query</a></li>
                                    <li class="nav"><a href="#trending-b" data-toggle="tab">Results</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="trending-a">
                                        <div class="form-group">
                                            <pre>{{JSON recommendations.trending.query}}</pre>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="trending-b">
                                        <pre>{{JSON recommendations.trending.results}}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel-heading">
            <h3>Most Popular Viewed</h3>
        </div>
        <div class="panel-body">
            {{#each recommendations.popular.results}}
            <div class='small-thumbnail'>
                <a href='/product/{{this._id}}'><img src="{{this.image}}"> {{this.title}}
                </a>
            </div>
            {{/each}}
        </div>

        <p data-placement="top" data-toggle="tooltip" title="View Popularity Query ">
            <button class="btn btn-warning btn-lg" data-title="Add" data-toggle="modal" data-target="#popular">View Popularity Query <span class="glyphicon glyphicon-eye-open"></span>
</button>
        </p>
        <!-- Add Dialog -->
        <div class="modal fade" id="popular" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading">View MongoDB Query</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="container">
                                <ul class="nav nav-tabs">
                                    <li class="nav active"><a href="#popular-a" data-toggle="tab">Query</a></li>
                                    <li class="nav"><a href="#popular-b" data-toggle="tab">Results</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="popular-a">
                                        <div class="form-group">
                                            <pre>{{JSON recommendations.popular.query}}</pre>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="popular-b">
                                        <pre>{{JSON recommendations.popular.results}}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>



    </div>
    <div class="col-md-3">
        <div class="panel-heading">
            <h3>Similar Products</h3>
        </div>
        <div class="panel-body">
            {{#each recommendations.similar.results}}
            <div class='small-thumbnail'>
                <a href='/product/{{this._id}}'><img src="{{this.image}}"> {{this.title}}
                </a>
            </div>
            {{/each}}
        </div>
        <p data-placement="top" data-toggle="tooltip" title="View Popularity Query ">
            <button class="btn btn-warning btn-lg" data-title="Add" data-toggle="modal" data-target="#similar">View Similar Products Query <span class="glyphicon glyphicon-eye-open"></span>
</button>
        </p>
        <!-- Add Dialog -->
        <div class="modal fade" id="similar" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading">View MongoDB Query</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <ul class="nav nav-tabs">
                                <li class="nav active"><a href="#A" data-toggle="tab">Query</a></li>
                                <li class="nav"><a href="#B" data-toggle="tab">Results</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="A">
                                    <div class="form-group">
                                        <pre>{{JSON recommendations.similar.query}}</pre>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="B">
                                    <pre>{{JSON recommendations.similar.results}}</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>
</div>
<input type="hidden" id="product_id" value="{{product._id}}">