<div class="container">
	<div class="row">
		<div class="col-md-12">
			{{#if products}}
			<ol class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li>Shopping Cart</li>
			</ol>
			<div class="row">
				{{#if showRecommendations}}
				<div class="col-sm-3 col-md-3">
					{{>recommendation}}
				</div>
				{{else}}
				<div class="col-sm-2"></div>
				{{/if}}
	<div class="col-lg-12 col-md-12">
		<div class="panel-heading"><h3>Items in Cart</h3></div>
		<div class="panel-body">
			 <p data-placement="top" data-toggle="tooltip" title="View MongoDB Document ">
				<button class="btn btn-warning btn-lg" data-title="Add" data-toggle="modal" data-target="#add">View Shopping Cart JSON <span class="glyphicon glyphicon-search"></span>
				</button>
			</p> 
			<!-- Add Dialog -->
			<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
							<h4 class="modal-title custom_align" id="Heading">View MongoDB Document</h4>
						</div>
						<div class="modal-body">
							<div class="modal-body">
								<pre><code class="prettyPrint">{{JSON cartJSON}}</code></pre>
							</div>
					</div>
					<div class="modal-footer">
						<button type="button"  data-dismiss="modal" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Close</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<div class="table-responsive">
			{{!-- 				<form action="/create" method="post">
				--}}				<form action="/checkout" method="post">
					<div class="panel-body">
						<div class="clearfix"></div>
						<!-- Text input-->
						<input type="hidden" name="cmd" value="_cart">
						<input type="hidden" name="business" value="assistant@sepennaa.org">
						<input type="hidden" name="currency_code" value="USD">
						<input type="hidden" name="return" value="http://localhost:3001/complete">
						<input type="hidden" name="cancel_return" value="http://localhost:3001/cancel">
						<input type="hidden" name="cn" value="Test Test">
						<input type="hidden" name="no_shipping" value="1">
						<input type="hidden" name="rm" value="2"> <!-- the buyer's browser is redirected to the return url using POST -->
						<!-- Text input-->
					</div>
					<table class="table table-condensed">
						<thead>
							<tr>
								<th><strong>ITEM</th>
								<th><strong>QTY</th>
								<th class='text-right'><strong>PRICE</th>
								<th class='text-right'><strong>TOTAL</th>
								<th>&nbsp;</td>
							</tr>
						</thead>
						<tbody>
							<input type="hidden" name="upload" value="1">
							{{# each products }}
							<input type="hidden" name="item_name_{{inc @index }}" value="{{this.item.title}}">
							<input type="hidden" name="item_number_{{inc @index }}" value="{{this.item._id}}">
							<input type="hidden" name="amount_{{inc @index }}" value="{{this.price}}">
							<input type="hidden" name="amount_{{inc @index }}" value="{{this.totalTax}}">
							<input type="hidden" name="itemTotal_{{inc @index }}" value="{{this.itemTotal}}">
							<input type="hidden" name="ticket_email_{{inc @index }}" value="{{this.ticket_email}}">
							<input type="hidden" name="ticket_name_{{inc @index }}" value="{{this.ticket_name}}">
							<input type="hidden" name="option_{{inc @index }}" value="{{this.option}}">
							<input type="hidden" name="on{{inc @index}}_1" value="Option:{{this.option}}">
							<input type="hidden" name="item_name[null]" value="" />
							<input type="hidden" name="shipping_flags[null]" value="" />
							<input type="hidden" name="item_name[{{ @index }}]" value="{{this.item.name}}" />
							<input type="hidden" name="item_title[{{ @index }}]" value="{{this.item.title}}" />
							<input type="hidden" name="item_id[{{ @index }}]" value="{{this.item._id}}" />
							<input type="hidden" name="item_ticket_name[{{ @index }}]" value="{{this.ticket_name}}" />
							<input type="hidden" name="item_ticket_email[{{ @index }}]" value="{{this.ticket_email}}" />
							<input type="hidden" name="item_amount[{{ @index }}]" value="{{this.price}}" />
							<input type="hidden" name="item_tax_amount[{{ @index }}]" value="{{this.totalTax}}" />
							<tr>
								<td>{{this.item.title}}
									{{#if this.ticket_name}}
									<div class='tiny'><b>Name:</b> {{this.ticket_name}}<br>
									<b>Email:</b> {{this.ticket_email}}</div>
								{{/if}}
								{{#if this.option}}
								<div class='tiny'><b>Option:</b> {{this.option}}
								{{/if}}
							</td>
							<td>{{this.qty}}</td>
							<td class='text-right' text-align="right">${{money this.price}}</td>
							<td class='text-right' text-align="right">${{money this.itemTotal}}</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-primary btn-xs dropdown-toggle pull-right" type="button" data-toggle="dropdown">Action <span class="caret"></span></button>
									<ul class="dropdown-menu">
										{{!--<li><a href="/reduce-qty/{{this.item._id}}">Reduce by 1</a></li>--}}
										{{!--<li><a href="/empty-cart">Remove all {{this.item.name}}</a></li>--}}
										<li><a href="/empty-cart">Clear Cart</a></li>
									</ul>
								</div>
							</td>
						</tr>
					{{/each}}
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>Subtotal: </td>
					<td class='text-right' text-align="right">${{money this.totalPrice}}</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td colspan=5>
						<div class="form-group">
							<label class="control-label">First Name</label>
							<label class="control-label">Last Name</label>
							<div class="inputGroupContainer">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
									<input  name="first_name" placeholder="First Name" class="form-control"  value="{{user.first_name}}" type="text" required>
									<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
									<input name="last_name" placeholder="Last Name" class="form-control" value="{{user.last_name}}"  type="text" required>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">E-Mail</label>
							<div class="inputGroupContainer">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
									{{#if user.email}}
									<input disabled name="email" placeholder="E-Mail Address" class="form-control"  value="{{user.email}}" type="text">
									{{else }}
									<input name="email" placeholder="E-Mail Address" class="form-control"  value="{{user.email}}" type="text" required>
									{{/if}}
								</div>
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="control-label">Phone #</label>
							<div class="inputGroupContainer">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
									{{#if user.telephone}}
									<input name="telephone" placeholder="(845)555-1212" class="form-control"  value="{{user.telephone}}" type="text" >
									{{else}}
									<input name="telephone" placeholder="(845)555-1212" class="form-control"  value="{{user.telephone}}" type="text" required>
									{{/if}}
								</div>
							</div>
						</div>
						{{#if enableShipping}}
						<div class="form-group">
							<li class="list-group-item">
								<label for='shipping_flag'>Ship Items?</label>
								<div class="material-switch pull-right">
									No <input id="shipping_flag" name="shipping_flag" checked="checked" type="checkbox"/>
									<label for="shipping_flag" class="label-success"></label> Yes
								</div>
							</li>
						</div>
						<div class="form-group">
							<h3>Shipping Address</h3>
							<div class="form-group">
								<label class="control-label">Address</label>
								<div class="inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
										<input id='shipping_addr1' ng-model="shipping_addr1" name="shipping_addr1" placeholder="Address1" class="form-control" value="{{user.addr1}}" type="text" >
									</div>
								</div>
							</div>
							<!-- Text input-->
							<div class="form-group">
								<label class="control-label">City</label>
								<div class="inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
										<input id='shipping_city' ng-model="shipping_city" name="shipping_city" placeholder="city" class="form-control" value="{{user.city}}"  type="text" >
									</div>
								</div>
							</div>
							<!-- Text input-->
							<div class="form-group">
								<label class="control-label">State</label>
								<div class="inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
										<input id='shipping_state' ng-model="shipping_state" name="shipping_state" placeholder="PA" class="form-control" value="{{user.state}}" type="text" >
									</div>
								</div>
								<label class="control-label">Zip</label>
								<div class="inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
										<input id='shipping_zip' ng-model="shipping_zip" name="shipping_zip" placeholder="xxxxxx" class="form-control" value="{{user.zipcode}}" type="text" >
									</div>
								</div>
							</div>
						</div>
						{{/if}} <!--enableShipping -->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-right">
		<input type='submit' value='Provide Contact Details and Check Out >' class='btn btn-primary text-right'>
	</div>
	<input type="hidden" name="amount" value="{{grandTotal}}">
	<input type="hidden" name="method" value="paypal">
</form>
</div>
</div> <!--panel body-->
<div class="row">
<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
</div>
</div>
</div>
</div>
{{else}}
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-12"><p>
	<p><br><br><br>
<h2>No items in Cart</h2>
	<p><br><br><br>
	<p><br><br><br>
	<p><br><br><br>
	<p><br><br><br>

</p>
</div>
</div>
</div>
{{/if}}
{{#if enableShipping}}
{{#if localUser }}
<h4>Pennsylvania and Philadelphia taxes apply for local residents.</h4>
{{/if}}
{{>shipping}}
{{/if}}
</div> <!--col-md-12-->
</div>

<script>
   $("input[name='update']").hide();
  $("input[name='shipping_flag']").click(function() {
  		$("update").data('value')='UPDATE SHIPPING INFO';
  		$("input[name='checkout']").show(300);
        if ($(this).is(':checked')) {
        	if ($("input[name='shipping_addr1]").attr('value')=='') {
        		$("input[name='checkout']").attr('disabled', true);
        		var ok = confirm('Please complete shipping information to proceed.');
        	}
            $("input[name='shipping_addr1']").attr("disabled", false);
            $("input[name='shipping_city']").attr('disabled', false);
            $("input[name='shipping_state']").attr('disabled', false);
            $("input[name='shipping_zip']").attr('disabled', false);
            $("input[name='shipping_addr1']").attr('required', true);
            $("input[name='shipping_city']").attr('required', true);
            $("input[name='shipping_state']").attr('required', true);
            $("input[name='shipping_zip']").attr('required', true);
        } else if ($(this).not(':checked')) {
        	  		$("input[name='update']").hide(200);

            var ok = confirm('Are you sure you want to remove all data?');
            if (ok) {
                var remove = '';
                $("input[name='shipping_addr1']").attr('value', remove);
                $("input[name='shipping_city']").attr('value', remove);
                $("input[name='shipping_state']").attr('value', remove);
                $("input[name='shipping_zip']").attr('value', remove);

                $("input[name='shipping_addr1']").attr('disabled', true);
                $("input[name='shipping_city']").attr('disabled', true);
                $("input[name='shipping_state']").attr('disabled', true);
                $("input[name='shipping_zip']").attr('disabled', true);
                $("input[name='shipping_addr1']").attr('required', false);
                $("input[name='shipping_city']").attr('required', false);
                $("input[name='shipping_state']").attr('required', false);
                $("input[name='shipping_zip']").attr('required', false);
            }
        }
    });
  $("#same_as_billing").on("change", function(){
    if (this.checked) {
      $("[name='shipping_name']").val($("[name='billing_name']").val());
      $("[name='shipping_addr1']").val($("[name='billing_addr1']").val());
      $("[name='shipping_city']").val($("[name='billing_city']").val());
      $("[name='shipping_state']").val($("[name='billing_state']").val());
      $("[name='shipping_zip']").val($("[name='billing_zip']").val());
    } else {
      $("[name='shipping_name']").val($("").val());
      $("[name='shipping_addr1']").val($("").val());
      $("[name='shipping_city']").val($("").val());
      $("[name='shipping_state']").val($("").val());
      $("[name='shipping_zip']").val($("").val());
    }

  });
</script>
