{{#if products}}
<div class="row">
	<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
		<div class="panel-heading"><h3>Items in Cart</h3></div>
		<div class="panel-body">
			<div class="table-responsive">
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_cart">
					<input type="hidden" name="business" value="assistant@sepennaa.org">
					<input type="hidden" name="currency_code" value="USD">
					<table class="table table-condensed">
						<thead>
							<tr>
								<td><strong>ITEM</strong></td>
								<td><strong>QTY</STRONG></td>
								<td><strong>PRICE</strong></td>
								<td>&nbsp;</td>
							</tr>
						</thead>
						<tbody>
						<input type="hidden" name="upload" value="1">
							{{# each products }}
								<input type="hidden" name="item_name_{{inc @index }}" value="{{this.item.title}}">
								<input type="hidden" name="item_number_{{inc @index }}" value="{{this.item._id}}">
								<input type="hidden" name="amount_{{inc @index }}" value="{{this.price}}">
							<tr>
								<td>{{this.item.title}}</td>
								<td>{{this.qty}}</td>
								<td text-align="right">${{this.price}}</td>
								<td>
									<div class="btn-group pull-right">
										<button class="btn btn-primary btn-xs dropdown-toggle pull-right" type="button" data-toggle="dropdown">Action <span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#">Reduce by 1</a></li>
											<li><a href="#">Remove All</a></li>
										</ul>
									</div>
								</td>
							</tr>
							{{/each}}
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>Total: </td>
							<td text-align="right">${{totalPrice}}</td>
							<td>&nbsp;</td>
						</tr>
					</tbody>
				</table>
				
				<input type="hidden" name="amount" value="{{totalPrice}}">
				<input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
		</div>
	</div>
	{{else}}
	<div class="row">
		<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
			<h2>No items in Cart</h2>
		</div>
	</div>
	{{/if}}