<div class="left-sidebar">
	<h2>Category</h2>
	<div class="panel-group category-products" id="accordian"><!--category-productsr-->
		
		{{#each navcats}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"><a href="/category/{{this._id}}?q={{../q}}">{{this._id}} <span class="pull-right">({{this.count}})</span></a></h4>
			</div>
		</div>
		{{/each}}
	</div><!--/category-productsr-->
	<h2>Product Groups</h2>
	<div class="panel-group category-products" id="accordian"><!--category-productsr-->
		{{#each navgroups}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"><a href="/group/{{this._id}}?q={{../q}}">{{this._id}} <span class="pull-right">({{this.count}})</span></a></h4>
			</div>
		</div>
		{{/each}}

	</div>	
	<div class="price-range"><!--price-range-->
		<h2>Price Range</h2>
		<div class="well text-center">
			 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
			 <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
		</div>
	</div><!--/price-range-->
	<h2>Sale Items</h2>
	<div class="panel-group category-products" id="accordian"><!--category-productsr-->
		{{#each salegroups}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"><a href="/group/{{this._id}}?q={{../q}}">{{this._id}} <span class="pull-right">({{this.count}})</span></a></h4>
			</div>
		</div>
		{{/each}}
	</div>	
</div>
