<div class="left-sidebar">
	<h2>Category</h2>
	<div class="panel-group category-products" id="accordian"><!--category-productsr-->
		
		{{#each navcats}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"><a href="/category/{{this._id}}?q={{../q}}">{{this._id}} <span class="pull-right">({{this.count}})</span></a></h4>
			</div>
		</div>
		{{/each}}
	</div><!--/category-productsr-->
	<h2>Product Groups</h2>
	<div class="panel-group category-products" id="accordian"><!--category-products-->
		{{#each navgroups}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"><a href="/group/{{this._id}}?q={{../q}}">{{this._id}} <span class="pull-right">({{this.count}})</span></a></h4>
			</div>
		</div>
		{{/each}}
        {{#each results}}
            {{!--{{JSON this}}--}}
            <h2>Price</h2>
            {{#each this.price}}
                <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/group/{{this._id}}?q={{../q}}">Price: {{this.lowerPriceBound}} <span class="pull-right">({{this.count}})</span></a></h4>
                            </div>
                        </div>            
            {{/each}}
            <h2>Brands</h2>
            {{#each this.brands}}
                <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/brand/{{this.brand}}?q={{../q}}">{{this.brand}} <span class="pull-right">({{this.count}})</span></a></h4>
                            </div>
                        </div>            
            {{/each}} 
              <h2>Resolution</h2>
            {{#each this.screenSize}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="/screenSize/{{this.screenSize}}?q={{../q}}">{{this.Resolution}} <span class="pull-right">({{this.count}})</span></a></h4>
                    </div>
                </div>            
            {{/each}}           
        {{/each}}
        <p data-placement="top" data-toggle="tooltip" title="View Document ">
        <button class="ui right floated btn btn-warning btn-xs" data-title="view" data-toggle="modal" data-target="#view-search"> <span class="glyphicon glyphicon-eye-open"></span> View Facet Search
        </button>
</p>
<!-- Add Dialog -->
<div class="modal fade" id="view-search" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">View Faceted Search Results</h4>
            </div>
            <div class="modal-body">
                <pre><code class="prettyPrint">
        db.products.aggregate([
{
$match: {category: "Television"}
},
{
$facet: {
price: [
    {
        $bucket: {
            groupBy: "$price",
            boundaries: [0, 200, 699, 1000, 1500],
            default: "Over 1500",
            output: {"count": {$sum: 1}}
        }
    },
    {
        $project: {
            lowerPriceBound: "$_id",
            count: 1,
            _id: 0
        }
    }
],
brands: [
    {
        $sortByCount: "$brand"
    },
    {
        $project: {
            brand: "$_id",
            count: 1,
            _id: 0
        }
    }
],
screenSize: [
    {
        $bucketAuto: {
            groupBy: "$Attributes.Resolution",
            buckets: 5
        }
    },
    {
        $project: {
            size: "$_id",
            _id: 0,
            count: 1
        }
    }
],
type: [
    {
        $sortByCount: "$Attributes.NumberOfPorts"
    },
    {
        $project: {
            type: "$_id",
            count: 1,
            _id: 0
        }
    }
],
screenTechnology: [
    {
        $sortByCount: "$specs.ScreenSize"
    },
    {
        $project: {
            technology: "$_id",
            count: 1,
            _id: 0
        }
    }
]
}
}
])</code></pre>
            </div>
        <!-- /.modal-content -->
        </div>
    <!-- /.modal-dialog -->
    </div>
</div>
<p data-placement="top" data-toggle="tooltip" title="View Document ">
        <button class="ui right floated btn btn-warning btn-xs" data-title="view" data-toggle="modal" data-target="#view-results"> <span class="glyphicon glyphicon-eye-open"></span> View Facet Results
        </button>
</p>
<!-- Add Dialog -->
<div class="modal fade" id="view-results" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">View Faceted Search Results</h4>
            </div>
            <div class="modal-body">
                <pre><code class="prettyPrint">{{JSON results}}</code></pre>
            </div>
        <!-- /.modal-content -->
        </div>
    <!-- /.modal-dialog -->
    </div>
</div>

	</div>
	{{!-- <div class="price-range"><!--price-range-->
		<h2>Price Range</h2>
		<div class="well text-center">
			 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
			 <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
		</div>
	</div><!--/price-range--> --}}
{{!-- 	<h2>Sale Items</h2>
 --}}	{{!-- <div class="panel-group category-products" id="accordian"><!--category-productsr-->
		{{#each salegroups}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"><a href="/group/{{this._id}}?q={{../q}}">{{this._id}} <span class="pull-right">({{this.count}})</span></a></h4>
			</div>
		</div>
		{{/each}}
	</div>	 --}}
</div>
